.header {
    border-bottom: 1px solid #ececec;
}
.header__container{
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
    
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
    }
}
.header__nav{
@media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
}
}
.logo{
    display: inline-block;
    padding: 16px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--black-color);

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}
.logo--blue{
    color: var(--blue-color);
}
.header-list{
    @media screen and (max-width: 768px) {
        display: none;
    }
    
    @media screen and (min-width: 768px) {
        margin-left: 88px;
        display: flex;
    }
}
.header-list__item {
    @media screen and (min-width: 768px) {
    margin-right: 50px;

    &:last-child {
        margin-left: 0;
    }
  }
}
.header-list__link{   
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    display: block;   
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &focus{
        color: var(--blue-color);
    }
    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
  }
.link--line::after {
    @media screen and (min-width: 768px) {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    background-color: var(--blue-color);
    }
}
.current {
    @media screen and (min-width: 768px) {
    color: var(--blue-color);
 }
} 

.header-info {
    @media screen and (max-width: 768px) {
        display: none;
    }
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }
    
    &__item {
        margin-bottom: 10px;
    }
    
    &__item:last-child {
        margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;
        flex-direction: row;

        &__item {
            margin-left: 50px;
        }
        
        &__item:first-child {
            margin-left: 0px;
        }
    }
}

.header-info__link {
    &:hover,
    &:focus {
        color: var(--blue-color);
    }
    @media screen and (min-width: 768px) {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
    }

    @media screen and (min-width: 1200px) {
    display: flex;
    padding: 32px 0;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.header-info__icon {
    margin-right: 10px;
    fill: var(--secondary-text-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .header-info__link:hover &,
    .header-info__link:focus & {
        fill: var(--blue-color);
    }
    @media screen and (min-width: 768px) {
        margin-right: 8px;
    }
    
    @media screen and (min-width: 768px) {
        margin-right: 10px;
    }
}