.cards-list {
  margin-top: 50px;

  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
  }

  @include mq(desktop) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
  }

  &__item {
    background-color: var(--white-color);
    @include mq(mobile-only) {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include mq(tablet) {
      display: flex;
    }

    @include mq(desktop) {
      margin: 0;
    }
  }
}
.cards-list-link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .overlay-text {
    transform: translatex(0);
  }
  @include mq(mobile) {
    display: block;
    width: 450px;
  }

  @include mq(tablet) {
    display: flex;
    flex-direction: column;
    width: 354px;
  }

  @include mq(desktop) {
    display: block;
    width: 370px;
  }
}
.cards-list-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease;
}

.overlay-text {
  color: var(--white-color);
  flex-grow: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  font-size: 15px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include mq(mobile) {
    padding: 63px 24px;
    font-size: 18px;
  }
}
.cards-list-content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.content-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--text-color);
}
.content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
