.work{
    padding-bottom: 94px;
}
.work-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.work-list{
    display: flex;
    margin-top: 50px;

    &__item{
        margin-right: 30px;
        position: relative;
    }
    &__item:last-child{
        margin-right: 0;    
    }
}
.work-label{
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    padding: 27px 0;
    background-color: rgba(47, 48, 58, 0.8); 

    &__title{
        font-size: 14px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--white-color);
    }
}
.team-icon-list{
    display: flex;
    justify-content: center;

    &__item{
        display: flex;
        margin-right: 10px;
    }
    &__item:last-of-type{
        margin-right: 0;
    }
}
.link-team-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus{
        background-color: var(--blue-color);
    }
    &:hover .icon-team,
    &:focus .icon-team{
        fill: var(--white-color);
    }
}  

.icon-team{
    display: block;
    fill: var(--icons-color);
    transition-property: fill;  
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);    
    }