:root {
    --main-font: 'Roboto',sans-serif;

    --text-color: #212121;

    --blue-color: #2196f3;

    --second-blue: #188ce8;

    --secondary-text-color: #757575;

    --white-color: #ffffff;

    --black-color: #000000;

    --button-color: #f5f4fa;

    --footer-background-color: #2f303a;

    --footer-info-color: rgba(255, 255, 255, 0.6);

    --hat-bg-color: #c4c4c4;

    --icons-color: #afb1b8;
    
}